//Заголовки
//========================================================================================================================================================
.title-40 {
	font-weight: 700;
	line-height: 125%;
	@include adaptiveValue("font-size", 40, 25, $containerWidth, $minWidth, 1);
	color: #fff;
}

.title-30 {
	font-weight: 700;
	line-height: 120%;
	@include adaptiveValue("font-size", 30, 20, $containerWidth, $minWidth, 1);
	color: #222222;
}

.title-20 {
	font-weight: 600;
	line-height: 150%;
	@include adaptiveValue("font-size", 20, 16, $containerWidth, $minWidth, 1);
	color: #222222;
}




//Текст
//========================================================================================================================================================
.text-22 {
	font-weight: 500;
	line-height: 125%;
	font-style: italic;
	@include adaptiveValue("font-size", 22, 17, $containerWidth, $minWidth, 1);
	color: #222222;
}

.text-16 {
	font-family: 'Pragmatica';
	font-weight: 400;
	line-height: 23px;
	@include adaptiveValue("font-size", 16, 15, $containerWidth, $minWidth, 1);
	color: #fff;
}

.text-14 {
	font-family: 'Pragmatica';
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
	@include adaptiveValue("font-size", 14, 13, $containerWidth, $minWidth, 1);
	color: #000000;
}
