//====================================================================================================

//====================================================================================================
.footer {

	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}
.lg-close.lg-icon, .lg-counter, .lg-prev.lg-icon, .lg-next.lg-icon {
	color: #222222!important;
	background: none!important;
}
.lg-download.lg-icon {
	display: none;
}